.App {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* == App Header ============================================================ */

.App-header {
  background-color: #222;
  box-sizing: border-box;
  color: #fff;
  display: block;
  margin: 0;
  padding: 0;
  min-height: 80px;
  max-height: 80px;
  height: 80px;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}
.App-header a:link, .App-header a:visited {
  color: #fff;
  text-decoration: none;
}
.App-header a:hover, .App-header a:active {
  color: #777;
}
a.activeRoute {
  color: #fff;
  border-bottom: 3px solid #fff;
}
a.activeRoute:hover {
  color: #fff;
}

.App-header-title {
  font-size: 1.5em;
  margin: 0 auto;
  padding: 25px 0 0;
}

/* == App Content =========================================================== */

.App-content {
  background-color: #fff;
  box-sizing: border-box;
  color: #222;
  display: block;
  margin: 0;
  padding: 25px 0;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}

.App-content-small {
  font-size: small;
  margin: 0 auto;
  padding: 0 0 25px;
  text-align: left;
}
span.toggleAllHurricanes {
  font-weight: bold;
}
span.toggleAllHurricanes:hover {
  color: #2B92FF;
  cursor: pointer;
  text-decoration: none;
}

/* == App Footer ============================================================ */

.App-footer {
  box-sizing: border-box;
  color: #222;
  display: block;
  margin: 0;
  padding: 0;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}

.App-footer-small {
  font-size: small;
  margin: 0 auto;
  padding: 25px 0;
}

/* == App Containers ======================================================== */

.App-container {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  min-width: 593px;
  width: 100%;
}

.App-dropdown-abs-container {
  box-sizing: border-box;
  position: absolute;
  left: 10px;
  top: 390px;
}

.App-float-lt-container {
  box-sizing: border-box;
  color: #222;
  float: left;
  margin: 0;
  padding: 0;
  min-width: 353px;
  max-width: 353px;
  width: 353px;
}

.App-float-rt-container {
  box-sizing: border-box;
  color: #222;
  flex-grow: 1;
  margin: 0;
  padding-right: 10px;
}

/* == Miscellaneous ========================================================= */

.map-info-window {
  font-size: small;
  margin: 0 auto;
  padding: 0;
}
.gm-style-iw + div {
  display: none;
}
