div.drop-down {
  border: 1px solid #777;
  border-radius: 3.5px;
  box-shadow: 0 0 1px #bbb;
  font-size: medium;
  margin: 0 auto;
  max-height: 256px;
  padding: 0 0 5px 0;
  overflow: auto;
  text-align: left;
  width: 333px;
  -webkit-transition: height 0.3s ease;
          transition: height 0.3s ease;
}
div.drop-down.closed {
  border-bottom: none;
  height: 25px;
  overflow: hidden;
}

div#selection-button {
  background-color: #fff;
  border-bottom: 1px solid #777;
  border-radius: 3.5px;
  color: #353535;
  margin: 0 auto;
  padding: 6px;
  position: absolute;
  text-align: center;
  width: 321px;
  z-index: 1000;
}
div#selection-button:hover {
  background-color: #ebebeb;
}

span.arrow-container {
  float: right;
  margin: 0 10px 0 0;
  padding: 0;
}
i#arrow {
  border: solid #353535;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin: 0 auto;
  padding: 3px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
i#arrow.down {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
